certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
keyring==25.6.0
more-itertools==10.5.0
oauthlib==3.2.2
pywin32-ctypes==0.2.3
requests==2.32.3
requests-oauthlib==2.0.0
urllib3==2.3.0
